---
import { Image } from "astro:assets";

const { project } = Astro.props;
const { projectsArray } = Astro.props;
---

  <div class="group border border-[#ffffff10] rounded-2xl p-4 project-card">
  <a href={project.preview} target="_blank" class="block rounded-2xl overflow-hidden shadow-lg mb-4">
    <Image 
        src={project.image} 
        alt={project.title} 
        class="w-full h-48 md:h-72 object-cover transition-transform group-hover:scale-105" />
  </a>

  <div class="flex items-start gap-4">
    <div class="flex-grow">
      <h4 class="text-2xl font-semibold">{project.title}</h4>
      <span class="text-sm text-[var(--white-icon)]">{project.status}</span>
    </div>

    <button
      type="button"
      class="toggle-btn size-14 flex justify-center items-center text-[var(--white-icon)] hover:text-white border border-[var(--white-icon-tr)] rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)] transition"
      onclick={`toggleProject('${project.id}', this, '${projectsArray}')`}
    >
     <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-7"
     >
        <path d="M24 12L18.3431 17.6569L16.9289 16.2426L21.1716 12L16.9289 7.75736L18.3431 6.34315L24 12ZM2.82843 12L7.07107 16.2426L5.65685 17.6569L0 12L5.65685 6.34315L7.07107 7.75736L2.82843 12ZM9.78845 21H7.66009L14.2116 3H16.3399L9.78845 21Z" />
     </svg>
    </button>
  </div>
</div>

